body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'NaumPen';
  src: url('../../public/Fonts/NanumPenScript-Regular.ttf');
}

@font-face {
  font-family: 'Lexend';
  src: url('../../public/Fonts/LexendDeca.ttf');
}

