body {
  overflow-x: hidden;
  background: #f8f8f8;
}

@font-face {
  font-family: 'NaumPen';
  src: url('../../public/Fonts/NanumPenScript-Regular.ttf');
}

@font-face {
  font-family: 'Lexend';
  src: url('../../public/Fonts/LexendDeca.ttf');
}

