.backgroundBanner {
  background-image: url('../../public/Icons/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bannerPartner {
  background-image: url('../../public/Icons/partner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 2rem;
}

/**/
.firstContainer {
  height: 65vh;
  padding: 0rem 11rem;
}

.button {
  border: 0;
  border-radius: 25px;
  outline: 0;
  width: 200px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
  font-family: 'NaumPen';
  color: #fff;
  background: #000000;
}

.button:hover {
  transition: all 0.5s;
  width: 200px;
  height: 40px;
  background: #000000;
  color: #fff;
}

.texts {
  font-size: 20px;
}

.sectionBlue {
  background-image: url('../../public/Icons/banner.jpg');
  background-color: #f8f8f8;
  color: #141E2E;
}

.smallInfoWhithImage {
  width: 100%;
  padding: 5rem 0rem 13rem 0rem;
}

.secondHeader {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.secondLogoText {
  display: flex;
  font-family: 'Lexend', sans-serif;
  justify-content: center;
  align-items: center;
}

.secondLogoText svg {
  width: 40px;
  height: 40px;
  margin: 10px;
  color: #000000;
}

.secondLogoText h2 {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.secondLogoText p {
  font-size: 17px;
  color: #000000;
}

.listEMail {
  list-style: none;
  text-align: start;
}

/*
  Políticas
*/
.content {
  display: flex;
  justify-content: center;
  padding: 4rem 0rem;
}

.content div {
  width: 1200px;
}

.titlePolicy {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.subTitlePolicy {
  font-size: 25px;
  margin-bottom: 20px;
}


@media (min-width: 300px) {
  .imageSide {
    display: none;
  }

  .imagePartner {
    display: none;
  }

  .firstContainer {
    padding: 0rem 0rem;
  }

  .content {
    padding: 6rem 2rem;
  }

  .secondHeader {
    margin-bottom: 4rem;
    flex-wrap: wrap;
    justify-content: start;
  }
}

@media (min-width: 768px) {
  .imagePartner {
    display: block;
  }

  .imageSide {
    display: block;
  }
}

@media (max-width: 767px) {
  .calendly {
    margin: 10rem 0rem;
  }
}

@media (min-width: 926px) {
  .secondHeader {
    justify-content: space-around;
    flex-direction: row;
  }
}
