.container {
  height: 100%;
  display: flex;
  background: #f8f8f8;
  align-items: center;
  flex-direction: column;
  font-family: 'Lexend', sans-serif;
}

.containerOther {
  width: 100%;
  padding: 0px 82px;
}

.containerOther p {
  font-size: 18px;
}

.row {
  width: 100%;
  height: 400px;
  display: flex;
  margin: 100px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.rowContentTitle {
  color: #000000;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 45px;
  padding-bottom: 1rem;
}

.rowContentText {
  font-weight: 100;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
}

.rowImage img {
  width: 500px;
}

.fourthCardsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}

.cardService {
  width: 321px;
  margin: 13px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid #18263a;
  background-color: #f8f8f8;
  box-shadow: #0d141e05 0px 0px 6px 1px;
  align-items: center;
  transition: 0.4s;
  padding: 15px;
}

.cardService:hover {
  transition: 0.4s;
  box-shadow: #0d141e0c 0px 0px 9px 7px;
  border-bottom: 10px solid #FF2E47;
}

.cardServiceImage {
  margin-bottom: 1rem;
}

.cardServiceImage .image {
  width: 190px;
  height: 190px;
}

.cardServiceTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardServiceTexts h2 {
  padding: 7px;
  font-size: 18px;
  color: #0d141e;
  font-weight: bold;
}

.cardServiceTexts button {
  margin: 17px 20px;
  border: 0;
  border-radius: 25px;
  background: #18263a;
  outline: 0;
  width: 150px;
  height: 35px;
  font-weight: bold;
  color: #FF2E47;
  font-size: 18px;
  transition: all 0.5s;
}

.cardServiceTexts button:hover {
  background: #FF2E47;
  color: #0d141e;
}

.cardServiceTexts p {
  padding: 7px;
  font-size: 14px;
  color: #FF2E47;
}

.plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plans p {
  text-align: center;
}

.button {
  border: 0;
  border-radius: 25px;
  background: #000000;
  outline: 0;
  width: 200px;
  font-family: 'NaumPen', cursive;
  height: 40px;
  color: #ffffff;
  font-size: 22px;
  transition: all 0.5s;
}

.secondHomeinfo, .plansInfo {
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #000000;
  font-size: 40px;
}

.secondInfo {
  margin: 20px;
  font-weight: 100;
  color: #000000;
  font-size: 17px;
}

.circleInfoContainer {
  padding-right: 10rem;
  padding-left: 10rem;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #141E2E;
}

.circleInfo h2 {
  color: #FF2E47;
  font-size: 16px;
  width: 300px;
}

.circleInfo p {
  color: #1d1d1d;
  font-size: 16px;
  width: 300px;
}

.titleRed {
  font-weight: bold;
  color: #FF2E47;
}

.py_1 {
  padding: 20rem 0;
}


@media (min-width: 300px) {
  .containerOther {
    padding: 0px;
  }

  .rowContentTitle {
    margin: 20px;
    letter-spacing: 0.5px;
    font-size: 26px;
  }

  .rowContentText {
    margin: 20px;
    font-size: 16px;
  }

  .rowImage {
    display: none;
  }

  .fourthCardsContainer {
    flex-wrap: wrap;
    padding: 4rem 0 4rem 0rem;
  }

  .cardService {
    margin-bottom: 2rem;
  }

  .secondHomeinfo, .plansInfo {
    margin: 20px;
    letter-spacing: 0.5px;
    font-size: 20px;
    text-align: center;
  }

  .secondInfo {
    margin: 20px;
    font-size: 16px;
  }

  .circleInfoContainer {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@media (min-width: 768px) {
  .rowImage {
    display: block;
  }

  .rowContentTitle {
    margin: 20px;
    letter-spacing: 0.5px;
    font-size: 28px;
  }

  .rowContentText {
    margin: 20px;
    font-size: 20px;
  }
}

@media (min-width: 1100px) {
  .rowContentTitle {
    margin: 20px;
    letter-spacing: 0.5px;
    font-size: 30px;
  }

  .rowContentText {
    margin: 20px;
    font-size: 18px;
  }
}

@media (min-width: 1400px) {

  .rowContent {
    width: 35rem;
  }

  .rowContentTitle {
    margin: 20px;
    letter-spacing: 0.5px;
    font-size: 45px;
  }

  .rowContentText {
    margin: 20px;
    font-size: 18px;
  }

  .secondHomeinfo {
    font-size: 40px;
  }

  .plansInfo {
    font-size: 30px;
  }

  .circleInfoContainer {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}