.footer {
  width: 100%;
  margin-top: 140px;
  padding: 3rem;
  background: #070606;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer h4 {
  font-size: 18px;
  font-weight: bold;
  color: #757575;
}

.footer p {
  color: #fff;
  font-size: 18px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.imageLogo img {
  width: 90px;
  margin-bottom: 0.8rem;
}

.links {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.links a {
  font-size: 18px;
  color: #DEDCDC;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.imageLogo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 28px;
  color: #DEDCDC;
}

.footerLogos {
  display: flex;
  flex-direction: row;
}

.footerLogos div {
  display: flex;
  margin-right: 9px;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  background-color: #DEDCDC;
}

.footerInfoBottom {
  display: flex;
  flex-direction: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

@media (min-width: 300px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 1200px) {
  .container {
    flex-direction: row;
  }

  .footer {
    padding: 2rem;
  }

  .footer h4 {
    font-size: 15px;
  }

  .footer p {
    font-size: 15px;
  }

  .links a {
    font-size: 15px;
  }

  .imageLogo {
    font-size: 20px;
  }

  .imageLogo img {
    width: 65px;
  }
}

@media (min-width: 1400px) {
  .footer {
    padding: 3rem;
  }

  .footer h4 {
    font-size: 18px;
  }

  .footer p {
    font-size: 18px;
  }

  .links a {
    font-size: 18px;
  }

  .imageLogo {
    font-size: 28px;
  }

  .imageLogo img {
    width: 90px;
  }

  .footerInfoBottom .footerLogos {
    margin-left: 44rem;
  }
}