
.container {
  display: flex;
  background: #f8f8f8;
  flex-direction: column;
  font-family: 'Lexend', sans-serif;
}

.firstContainer {
  width: 100%;
}

.homeContent {
  width: 100%;
  height: 70vh;
  display: flex;
  margin: 100px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.info {
  letter-spacing: 0.1px;
  font-weight: bold;
  color: #000000;
  font-size: 45px;
}

.secondInfo, .thirdInfo {
  font-weight: 100;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
}

.thirdInfo {
  text-align: center;
}

.homeButtons {
  display: flex;
  flex-direction: row;
}

.secondAboutButtonGroup {
  text-align: center;
}

.homeStart {
  margin: 5px 20px 0px 0px;
  border: 0;
  border-radius: 25px;
  background: #000000;
  color: #ffffff;
  outline: 0;
  width: 180px;
  height: 40px;
  font-size: 20px;
  font-weight: bolder;
  transition: all 0.5s;
  font-family: 'NaumPen';
}

.homeStart:hover {
  transition: all 0.5s;
  width: 200px;
  height: 40px;
  background: #000000;
  color: #ffffff;
}

.homePlans {
  color: #000000;
  font-size: 20px;
  outline: 0;
  border: 0;
  background-color: transparent;
  transition: all 0.5s;
}

.homePlans:hover {
  transition: all 0.5s;
  color: #1d1d1d;
}

.secondLogoText {
  display: flex;
  font-family: 'Lexend', sans-serif;
  justify-content: center;
  align-items: center;
}

.secondContactButton {
  border: 3px solid #141E2E;
  border-radius: 25px;
  background: transparent;
  outline: 0;
  width: 1080px;
  height: 40px;
  color: #141E2E;
  font-size: 25px;
  transition: all 0.4s;
}

.secondContactButton:hover {
  transition: all 0.4s;
  background: #FF3857;
  border: 3px solid #FF3857;
  color: #f8f8f8;
}

.secondHomeContent {
  width: 100%;
}

.thirdHomeContent {
  width: 100%;
}

.fourthHomeContent {
  width: 100%;
  padding-top: 4rem;
}

.secondHeader {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.secondLogoText svg {
  width: 40px;
  height: 40px;
  margin: 10px;
  color: #000000;
}

.secondLogoText h2 {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.secondLogoText p {
  font-size: 17px;
  color: #000000;
}

.secondHomeContentContainer, .secondHomeContentContainerOther {
  width: 100%;
  height: 70vh;
  display: flex;
  margin: 100px 0px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.secondHomeinfo {
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  margin-bottom: 20px;
}

.thirdHomeinfo {
  letter-spacing: 0.5px;
  font-weight: bold;
  color: #000000;
  font-size: 30px;
  text-align: center;
}

.secondButonsContainer {
  padding-left: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.secondButonsContainer div {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.secondAboutButton {
  margin: 20px 0px;
  border: 3px solid #000000;
  border-radius: 25px;
  background: #ffffff;
  outline: 0;
  width: 180px;
  height: 40px;
  color: #000000;
  font-size: 20px;
  transition: all 0.5s;
  font-weight: bolder;
  font-family: 'NaumPen';
}

.secondAboutButton:hover {
  transition: all 0.5s;
  width: 200px;
  height: 40px;
  background: #000000;
  border: 3px solid #000000;
  color: #ffffff;
}

.buttonsThirdContainer {
  display: flex;
  flex-direction: row;
}

.thirdButton {
  display: flex;
  flex-direction: row;
}

.thirdButtonProfile {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  background-color: #141E2E;
}

.thirdButtonInfos {
  margin: 16px;
}

.thirdButtonInfos h2 {
  color: #000000;
  font-size: 20px;
  width: 240px;
  font-weight: bold;
}

.thirdButtonInfos p {
  color: #1d1d1d;;
  font-size: 16px;
  width: 240px;
}

.fourthInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourthInfoContainer {
  text-align: center;
}

.fourthCardsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fourthCard {
  width: 321px;
  margin: 13px;
  height: 450px;
  display: flex;
  flex-direction: column;
  border-bottom: 10px solid #141E2E;
  background-color: #dedcdc0e;
  box-shadow: #0d141e15 0px 0px 6px 1px;
  align-items: center;
  transition: 0.4s;
}

.fourthCard:hover {
  transition: 0.4s;
  box-shadow: #0d141e25 0px 0px 9px 7px;
  border-bottom: 10px solid #FF2E47;
}

.fourthCardImage {
  width: 100%;
  height: 200px;
  margin-bottom: 1rem;
}

.fourthCardTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fourthCardTexts h2 {
  padding: 7px;
  margin-left: 10px;
  font-size: 18px;
  color: #141E2E;
  font-weight: bold;
}

.fourthCardTexts button {
  margin: 17px 20px;
  border: 0;
  border-radius: 25px;
  background: #0d141e;
  outline: 0;
  width: 180px;
  height: 35px;
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
  transition: all 0.5s;
  font-family: 'NaumPen';
}

.fourthCardTexts button:hover {
  background: #000000;
  color: #f8f8f8;
}

.fourthCardTexts p {
  padding: 5px;
  font-size: 14px;
  margin-left: 15px;
  color: #1d1d1d;
}

.plans {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plans p {
  text-align: center;
}

.plans button {
  margin: 17px 20px;
  border: 0;
  border-radius: 25px;
  background: #000000;
  outline: 0;
  width: 180px;
  height: 35px;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.5s;
  font-family: 'NaumPen';
}

.partners {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.partners span {
  width: 80px;
  height: 5px;
  border-radius: 17px;
  background-color: #DEDCDC;
}

.partnersImages {
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.partnersImages img {
  margin: 25px 30px;
}

@media (min-width: 300px) {
  .homeContent {
    margin: 0;
  }

  .homeImage {
    display: none;
  }

  .homeButtons {
    justify-content: center;
  }

  .info {
    letter-spacing: 0.5px;
    font-size: 30px;
    text-align: center;
  }

  .secondInfo, .thirdInfo {
    font-size: 18px;
    text-align: center;
  }

  .secondHeader {
    margin-bottom: 4rem;
    flex-wrap: wrap;
    justify-content: start;
  }

  .fourthHomeContent {
    margin-top: 4rem;
  }

  .buttonsThirdContainer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .fourthCardsContainer {
    flex-wrap: wrap;
    padding: 4rem 0 4rem 0rem;
  }

  .cardService {
    margin-bottom: 2rem;
  }

  .secondHomeinfo {
    letter-spacing: 0.5px;
    font-size: 23px;
    text-align: center;
  }

  .thirdHomeinfo {
    letter-spacing: 0.5px;
    font-size: 23px;
  }
}

@media (max-width: 396px) {
  .thirdHomeContent {
    padding: 4rem 0rem;
  }
}

@media (min-width: 600px) {
  .fourthHomeContent {
    margin-top: 0rem;
  }
}

@media (min-width: 768px) {
  .homeImage {
    display: block;
  }

  .info {
    text-align: start;
  }

  .homeButtons {
    justify-content: start;
  }

  .secondAboutButtonGroup {
    text-align: start;
  }
  
  .secondInfo, .secondHomeinfo {
    text-align: start;
  }

  .homeContent, .secondHomeContentContainerOther {
    padding: 2rem;
  }

  .secondHomeinfo {
    font-size: 25px;
  }

  .thirdHomeinfo {
    font-size: 25px;
  }

  .fourthHomeContent {
    padding-top: 8rem;
  }
}


@media (min-width: 926px) {
  .secondHeader {
    justify-content: space-around;
    flex-direction: row;
  }

  .info {
    font-size: 34px;
  }

  .secondInfo, .thirdInfo {
    font-size: 18px;
  }

  .secondHomeinfo {
    font-size: 30px;
  }

  .thirdHomeinfo {
    font-size: 30px;
  }
}

@media (min-width: 1048px) {
  .homeContent, .secondHomeContentContainerOther{
    padding: 0rem;
  }
}

@media (min-width: 1300px) {
  .info {
    font-size: 50px;
    margin: 2rem 0rem;
  }

  .secondInfo {
    font-size: 18px;
    text-align: start;
  }

  .thirdInfo {
    font-size: 18px;
  }

  .secondHeader {
    margin-top: 4rem;
  }

  .firstContainer {
    padding-bottom: 4rem;
  }

  .thirdHomeContent {
    padding-top: 4rem;
  }

  .firstContainer {
    padding-top: 5rem;
  }

  .secondHomeinfo {
    font-size: 40px;
    text-align: start;
  }

  .thirdHomeinfo {
    font-size: 40px;
  }
}

@media (min-width: 1700px) {
  .firstContainer {
    padding-top: 0rem;
  }
}
