
.container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  z-index: 999;
}

.fav img {
  margin: 20%;
}

.menu {
  padding: 20px;
  cursor: pointer;
}


.menuItem {
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  right: 0px;
  width: 450px;
  cursor: default;
  height: 100%;
  background-color: #0A182A;
  transition: all 0.2s;

}

.menuItem.active {
  transition: all 0.5s;
  transform: translateX(550px);
}


.menuClose {
  width: 94%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
  transition: all 1s;
}

.menuListContainer {
  width: 100%;
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menuList {
  width: 300px;
  height: 360px;
  margin-left: -80px;
  list-style: none;
  background-color: #141E2E;

  transition: all 1s;
}

.menuList ul {
  width: 100%;
  height: 100%;
  list-style: none;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuList li {
  font-family: 'NaumPen', cursive;
  text-align: center;
  margin: 10px;
  color: #F9F9F9;
  font-size: 50px;
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-weight: bold;
  transition: all 0.4s;
}

.menuList li:hover {
  transition: all 0.4s;
  background-color: #0A182A;
}

.link {
  text-decoration: none;
  color: #FF3857;
}

.link:hover {
  text-decoration: none;
  color: #FF3857;
}

@media (max-width:540px) {
  .menuItem {
    width: 340px;

  }
}

@media (max-width:430px) {
  .menuItem {
    width: 270px;

  }

}

@media (max-width:400px) {
  .menuItem {
    width: 240px;

  }
}